[package]
name = "psutil"
version = "1.5.0"
authors = ["Sam Clements <sam@borntyping.co.uk>"]
description = "Process monitoring library"
repository = "https://github.com/borntyping/rust-psutil"
readme = "README.md"
license = "MIT"
edition = "2018"

[dependencies]
libc = ">= 0.1.4"
lazy_static = "1"

[dev-dependencies]
tempfile = "3"
bencher = "*"

[[bench]]
name = "benchmarking"
harness = false
